doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{docTitle}
    body
        - var insert = editing ? 'edit-product' : 'add-product'
        - var title = editing && product.title;
        - var imageUrl = editing && product.imageUrl;
        - var price = editing && product.price;
        - var description = editing && product.description;
        header
            include ../snapshot/navigation.pug
        main
            form(action=`/login` method="POST")

                label(for='email') E-mail
                input(type="email" name="email" id="email")
                label(for="password") Password
                input(type="password" name="password" id="password")
                button(type="submit") Login
