doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{docTitle}
    body
        header
            include ../snapshot/navigation.pug
        main
            if products.length > 0
                ul
                    each product in products
                        li
                            p #{product.productId.title} (#{product.quantity})
                            form(action='/cart-delete-item' method='post')
                                input(type='hidden' value=product.productId._id name='pnpm roductId')
                                button(type='submit') Delete item

                form(action='/create-order' method='post')
                    button(type='submit') order now
            else
                h1 No products
