doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{docTitle}
    body
        header
            nav
                ul
                    li
                        a(href="/") shop
                    li
                        a(href="/products") products
                    li
                        a(href="/cart") cart
                    li
                        a(href="/orders") orders
                    li
                        a(href="/login") login
                        form(action="/logout" method='post')
                            button(type="submit") logout
                    if isAuthenticated
                        li
                            a(href="/admin/add-product") add-product
                        li
                            a(href="/admin/products") admin product
        main
            if orders.length <= 0
                h1 Nothing there!
            else
                ul 
                    each order in orders
                        li 
                            h1 #{order._id}
                                ul 
                                    each product in order.products 
                                        li
                                            p #{product.product.title} (#{product.quantity})